%% 开服日期
{server_start_datetime, {{2011,6,28},{10,0,0}}}.
%% 第一次抢国王天数
%% {days_of_first_warofking, 3}.
%% 第一次宗族站

%% 第一次国战

%% 游戏服名称

%%mysql {Host, UserName, Password, DataBase}
{mysql_config, {"localhost", "tzr_game", "xxxxxxxx", "tzr_game"}}.

%%memcache_config {Host, Port}
{memcache_config, {"127.0.0.1", 11211}}.

%% 代理商名称
{agent_name, "mo"}.

%% 游戏服ID
{game_id, 1}.

%%最高在线人数限制，到达此人数将提示人数已满
{max_online_num,1500}.

%%缓冲在线人数限制，到达此人数将提示登录稍后
{cushion_online_num,800}.

%%地图设置为调试模式，默认都设置为false！！
{map_debug_mode,false}.

%%道具等日志表的数据库名
{db_name_logs,tzr_logs}.

%% 是否是debug模式，php也会读取这个文件
{is_debug, true}.

%% 分线md5 密匙
{line_auth_key, "erlang_line-auth-key"}.

%% 平台FCM 密匙
{fcm_validation_key, "fcm_validation_md5_key"}.

%% 平台FCM 验证地址
{fcm_validation_url, "http://www.tzrgame-local.com/api/fcm_validation.php"}.

%%是否开启特殊新手任务
{open_special_tutorial, false}.

{log_level, 3}.

%% 超级认证key，用于开发直接连接外网的机器
{line_super_key, "erlang_line-super-key"}.

%% receiver 配置
{receiver_host, {"127.0.0.1", 10001}}.
{receiver_host_acceptor_num, 10}.

%% ---------------------------------------------------------------------------------
%% -- 多机配置
%% ---------------------------------------------------------------------------------
%% A机启动的erlang结点至少包括 security/behavior/db/chat/login/world, 有可能包含line(网关)，取决于下面的 gateway配置

%% 基本思路  	security + behavior => CPU 1
%% 				db => CPU 2
%%				chat => CPU3
%%				login => CPU 4
%%				world => CPU 5 CPU 7 (5和7在一块CPU上，我们的服务器是双核的) taskset -c 5,7 erl -smp enable +S2:2
%%				erlang_web => CPU 1 3
%% 网卡中断默认在 CPU 0上
%% nginx/php/mysql/memcache 自由分配，暂时不做核绑定处理 
%% 开服时的主要压力在地图和网关，A机的压力不会太大

%% A机IP
{master_host, "192.168.4.194"}.

%% 网关信息
{
gateway, 
	[
		%% 内网IP  对外域名  对外开放的端口: 每台机器不能超过8个！！！
		%%{"192.168.0.104", "mccq4.my4399.com", [8080, 443, 7060, 8846, 26000]}
		{"192.168.4.194", "192.168.4.194", [443]}
	]
}.
%% 地图配置
{
	map,
	[
		%% 内网IP  启动的负载结点数量，注意：最终对应机器启动的数量会+1，就是说填写4最终会启动5个，因为要先启动本机的主节点
		%% 写个第一个的内网机器会作为地图的主节点!!!
		{"192.168.4.194", 0}
		%%{"192.168.0.106", 6},
		%%{"192.168.0.107", 6},
		%%{"192.168.0.108", 6}
	]
}.
